    <h2>Português Brasileiro</h2>
    <h3>Inventário Completo</h3>
    <h4>Vogais</h4>
	<table border="1" width="100%">
      <tr>
        <th>Catipa</th>
		<th>IPA</th>
		<th>∅0</th>
        <th>Descrição</th>
      </tr>
      <tr>
        <td>a</td>
		<td>[a]</td>
		<td>[ɐ]</td>
        <td>vogal central aberta</td>
      </tr>
      <tr>
        <td>aa</td>
		<td>[ə]</td>
		<td></td>
        <td>vogal central média</td>
      </tr>
      <tr>
        <td>A</td>
		<td>[ɐ̃]</td>
		<td></td>
        <td>vogal central aberta nasal</td>
      </tr>
	  <tr>
        <td>e</td>
		<td>[e]</td>
		<td></td>
        <td>vogal anterior semifechada</td>
      </tr>
	  <tr>
        <td>ee</td>
		<td>[ɛ]</td>
		<td></td>
        <td>vogal anterior semiaberta</td>
      </tr>
	  <tr>
        <td>E</td>
		<td>[ẽ]</td>
		<td></td>
        <td>vogal anterior semifechada nasal</td>
      </tr>
	  <tr>
        <td>i</td>
		<td>[i]</td>
		<td>[ɪ]</td>
        <td>vogal anterior fechada</td>
      </tr>
	  <tr>
        <td>I</td>
		<td>[ĩ]</td>
		<td></td>
        <td>vogal anterior fechada</td>
      </tr>
	  <tr>
        <td>o</td>
		<td>[o]</td>
		<td></td>
        <td>vogal posterior semifechada</td>
      </tr>
	  <tr>
        <td>oo</td>
		<td>[ɔ]</td>
		<td></td>
        <td>vogal posterior semiaberta</td>
      </tr>
	  <tr>
        <td>O</td>
		<td>[õ]</td>
		<td></td>
        <td>vogal posterior semifechada nasal</td>
      </tr>
	  <tr>
        <td>u</td>
		<td>[u]</td>
		<td>[ʊ]</td>
        <td>vogal posterior fechada arredondada</td>
      </tr>
	  <tr>
        <td>U</td>
		<td>[ũ]</td>
		<td></td>
        <td>vogal posterior fechada nasal</td>
      </tr>
    </table>
	<h4>Stress</h4>
	<table border="1" width="100%">
	  <tr>
	    <th>Tonicidade</th>
		<th>Descrição</th>
	  </tr>
	  <tr>
	    <td>1</td>
		<td>sílaba tônica, com acento primário (não possuimos acento secundário no português), a sílaba mais forte</td>
	  </tr>
	  <tr>
	    <td>2</td>
		<td>sílaba átona, sílaba sem destaque de pronúncia, sem acento prosódico</td>
	  </tr>
	  <tr>
	    <td>0</td>
		<td>sílaba átona reduzida, em PB sílabas finais de palavras são reduzidas</td>
	  </tr>
	</table>
	<h4>Consoantes</h4>
    <table border="1" width="100%">
      <tr>
        <th>Catipa</th>
        <th>IPA</th>
		<th>Exemplo</th>
		<th>Forma Catipa</th>
		<th>Descrição</th>
      </tr>
      <tr>
        <td>b</td>
        <td>[b]</td>
		<td>babá</td>
		<td>b a2 b a1</td>
		<td>oclusiva bilabial sonora</td>
      </tr>
      <tr>
        <td>d</td>
        <td>[d]</td>
		<td>dado</td>
		<td>d a1 d u0</td>
		<td>oclusiva alveolar sonora</td>
      </tr>
	  <tr>
        <td>dj</td>
        <td>[dʒ]</td>
		<td>dica</td>
		<td>dj i1 k a0</td>
		<td>africada pós-alveolar sonora</td>
      </tr>
	  <tr>
        <td>f</td>
        <td>[f]</td>
		<td>feto</td>
		<td>f ee1 t u0</td>
		<td>fricativa labiodental surda</td>
      </tr>
	  <tr>
        <td>g</td>
        <td>[g]</td>
		<td>gago</td>
		<td>g a1 g u0</td>
		<td>oclusiva velar sonora</td>
      </tr>
	  <tr>
        <td>j</td>
        <td>[ʒ]</td>
		<td>gente<br>jato</td>
		<td>j E1 tch i0<br>j a1 t u0</td>
		<td>fricativa pós-alveolar sonora</td>
      </tr>
	  <tr>
        <td>k</td>
        <td>[k]</td>
		<td>caco</td>
		<td>k a1 k u0</td>
		<td>oclusiva velar surda</td>
      </tr>
	  <tr>
        <td>l</td>
        <td>[l]</td>
		<td>lápis</td>
		<td>l a1 p i0 s</td>
		<td>lateral alveolar sonora</td>
      </tr>
	  <tr>
        <td>lh</td>
        <td>[ʎ]</td>
		<td>olhar</td>
		<td>o2 lh a1 h</td>
		<td>lateral palatal sonora</td>
      </tr>
	  <tr>
        <td>m</td>
        <td>[m]</td>
		<td>milho</td>
		<td>m i1 lh u0</td>
		<td>nasal bilabial sonora</td>
      </tr>
	  <tr>
        <td>n</td>
        <td>[n]</td>
		<td>nono</td>
		<td>n o1 n u0</td>
		<td>nasal alveolar sonora</td>
      </tr>
	  <tr>
        <td>nh</td>
        <td>[ɲ]</td>
		<td>ninho</td>
		<td>n i1 nh u0</td>
		<td>nasal palatal sonora</td>
      </tr>
	  <tr>
        <td>p</td>
        <td>[p]</td>
		<td>pato</td>
		<td>p a1 t u0</td>
		<td>oclusiva bilabial surda</td>
      </tr>
	  <tr>
        <td>q</td>
        <td>[ʔ]</td>
		<td>oh-oh</td>
		<td>q o q o W</td>
		<td>oclusiva glotal</td>
      </tr>
	  <tr>
        <td>s</td>
        <td>[s]</td>
		<td>santo<br>osso</td>
		<td>s A1 t u0<br>o1 s u0</td>
		<td>fricativa alveolar surda</td>
      </tr>
	  <tr>
        <td>t</td>
        <td>[t]</td>
		<td>tatu</td>
		<td>t a2 t u1</td>
		<td>oclusiva alveolar surda</td>
      </tr>
	  <tr>
        <td>tch</td>
        <td>[tʃ]</td>
		<td>tchau<br>tigre</td>
		<td>tch a1 W<br>tch i1 g r i0</td>
		<td>africada pós-alveolar surda</td>
      </tr>
	  <tr>
        <td>v</td>
        <td>[v]</td>
		<td>valor</td>
		<td>v a2 l o1 h</td>
		<td>fricativa labiodental sonora</td>
      </tr>
	  <tr>
        <td>x</td>
        <td>[ʃ]</td>
		<td>acho<br>xampu</td>
		<td>a1 x u0<br>x A2 p u1</td>
		<td>fricativa pós-alveolar surda</td>
      </tr>
	  <tr>
        <td>z</td>
        <td>[z]</td>
		<td>zebra<br>asilo</td>
		<td>z e1 b r a0<br>a2 z i1 l u0</td>
		<td>fricativa alveolar sonora</td>
      </tr>
    </table>
    <h2>Róticas</h2>
    <table border="1" width="100%">
      <tr>
        <th>Catipa</th>
		<th>IPA</th>
		<th>Início</th>
		<th>Intervocálico</th>
		<th>Cluster</th>
        <th>Descrição</th>
      </tr>
      <tr>
        <td>r</td>
		<td>[ɾ]</td>
		<td>✖️</td>
		<td>✔️</td>
		<td>✔️</td>
        <td><b>tepe alveolar: </b><br>rótica comumente intervocálica, presente também em finais silábicas em algumas regiões do sul</td>
      </tr>
      <tr>
        <td>R</td>
		<td>[ɹ]</td>
		<td>✖️</td>
		<td>✔️</td>
		<td>✖️</td>
        <td><b>aproximante alveolar: </b><br>típica do inglês, presente em diversas regiões do país como Goiás e São Paulo</td>
      </tr>
	  <tr>
        <td>rr</td>
		<td>[r]</td>
		<td>✔️</td>
		<td>✔️</td>
		<td>✔️</td>
        <td><b>vibrante alveolar múltipla: </b><br>muito associada ao espanhol, é recorrente em estilizações artísticas como na música e na locução radialística</td>
      </tr>
	  <tr>
        <td>h</td>
		<td>[h]</td>
		<td>✔️</td>
		<td>✔️</td>
		<td>✖️</td>
        <td><b>fricativa glotal surda: </b><br>ruído aspirado presente em diversos sotaques regionais e considerado a rótica forte mais neutra</td>
      </tr>
	  <tr>
        <td>H</td>
		<td>[x], [χ]</td>
		<td>✔️</td>
		<td>✔️</td>
		<td>✖️</td>
        <td><b>fricativa glotal surda: </b><br>ruído aspirado presente em diversos sotaques regionais e considerado a rótica forte mais neutra</td>
      </tr>
    </table>
    <h4>Ditongos</h4>
    <table border="1" width="100%">
      <tr>
        <th>Catipa</th>
        <th>Descrição</th>
      </tr>
      <tr>
        <td>Y</td>
        <td>ditongo decrescente não-arredondado</td>
      </tr>
      <tr>
        <td>W</td>
        <td>ditongo decrescente arredondado</td>
      </tr>
      <tr>
        <td>y</td>
        <td>ditongo crescente não-arredondado</td>
      </tr>
	  <tr>
        <td>w</td>
        <td>ditongo crescente arredondado</td>
      </tr>
    </table>
