    <h2>Portugués Europeu</h2>
    <h3>Inventário Completo</h3>
    <h4>Vogais</h4>
	<table border="1" width="100%">
      <tr>
        <th>Catipa</th>
		<th>IPA</th>
		<th>∅2</th>
        <th>Descrição</th>
      </tr>
      <tr>
        <td>a</td>
		<td>[a]</td>
		<td>[ɐ]</td>
        <td>vogal central aberta</td>
      </tr>
      <tr>
        <td>aa</td>
		<td>[ə]</td>
		<td></td>
        <td>vogal central média</td>
      </tr>
      <tr>
        <td>A</td>
		<td>[ɐ̃]</td>
		<td></td>
        <td>vogal central aberta nasal</td>
      </tr>
	  <tr>
        <td>e</td>
		<td>[e]</td>
		<td>[ɨ]</td>
        <td>vogal anterior semifechada</td>
      </tr>
	  <tr>
        <td>ee</td>
		<td>[ɛ]</td>
		<td>[ɨ]</td>
        <td>vogal anterior semiaberta</td>
      </tr>
	  <tr>
        <td>E</td>
		<td>[ẽ]</td>
		<td></td>
        <td>vogal anterior semifechada nasal</td>
      </tr>
	  <tr>
        <td>i</td>
		<td>[i]</td>
		<td>[ɨ]</td>
        <td>vogal anterior fechada</td>
      </tr>
	  <tr>
        <td>I</td>
		<td>[ĩ]</td>
		<td></td>
        <td>vogal anterior fechada</td>
      </tr>
	  <tr>
        <td>o</td>
		<td>[o]</td>
		<td>[u]</td>
        <td>vogal posterior semifechada</td>
      </tr>
	  <tr>
        <td>oo</td>
		<td>[ɔ]</td>
		<td>[u]</td>
        <td>vogal posterior semiaberta</td>
      </tr>
	  <tr>
        <td>O</td>
		<td>[õ]</td>
		<td></td>
        <td>vogal posterior semifechada nasal</td>
      </tr>
	  <tr>
        <td>u</td>
		<td>[u]</td>
		<td></td>
        <td>vogal posterior fechada arredondada</td>
      </tr>
	  <tr>
        <td>U</td>
		<td>[ũ]</td>
		<td></td>
        <td>vogal posterior fechada nasal</td>
      </tr>
    </table>
	<h4>Stress</h4>
	<table border="1" width="100%">
	  <tr>
	    <th>Tonicidade</th>
		<th>Descrição</th>
	  </tr>
	  <tr>
	    <td>1</td>
		<td>sílaba tônica, com acento primário (não possuimos acento secundário no português), a sílaba mais forte</td>
	  </tr>
	  <tr>
	    <td>2</td>
		<td>sílaba átona, diferente do PB, toda sílaba átona é reduzida</td>
	  </tr>
	  <tr>
	    <td>0</td>
		<td>elisão ou apagamento, quando a sílaba na verdade está sendo pronunciada sem o som vocálico</td>
	  </tr>
	</table>
	<h4>Consoantes</h4>
    <table border="1" width="100%">
      <tr>
        <th>Catipa</th>
        <th>Som Pleno</th>
		<th>Lenição</th>
		<th>Exemplo</th>
		<th>Forma Catipa</th>
		<th>Descrição</th>
      </tr>
      <tr>
        <td>b</td>
        <td>[b]</td>
		<td>[β]</td>
		<td>babá</td>
		<td>b a2 b a1</td>
		<td>oclusiva bilabial sonora</td>
      </tr>
      <tr>
        <td>d</td>
        <td>[d]</td>
		<td>[ð]</td>
		<td>dado</td>
		<td>d a1 d u2</td>
		<td>oclusiva alveolar sonora</td>
      </tr>
	  <tr>
        <td>f</td>
        <td>[f]</td>
		<td></td>
		<td>fatal</td>
		<td>f a2 t a1 L</td>
		<td>fricativa labiodental surda</td>
      </tr>
	  <tr>
        <td>g</td>
        <td>[g]</td>
		<td>[ɣ]</td>
		<td>gago</td>
		<td>g a1 g u2</td>
		<td>oclusiva velar sonora</td>
      </tr>
	  <td>H</td>
        <td>[ʁ]</td>
		<td></td>
		<td>rua<br>arrumar</td>
		<td>H u1 a2<br>a2 H u0 m a1 r</td>
		<td>fricativa uvular sonora</td>
	  <tr>
        <td>j</td>
        <td>[ʒ]</td>
		<td></td>
		<td>gente<br>jato</td>
		<td>j E1 tch i2<br>j a1 t u2</td>
		<td>fricativa pós-alveolar sonora</td>
      </tr>
	  <tr>
        <td>k</td>
        <td>[k]</td>
		<td></td>
		<td>caco</td>
		<td>k a1 k u2</td>
		<td>oclusiva velar surda</td>
      </tr>
	  <tr>
        <td>l</td>
        <td>[l]</td>
		<td></td>
		<td>lápis</td>
		<td>l a1 p i0 x</td>
		<td>lateral alveolar sonora</td>
      </tr>
	  <tr>
        <td>L</td>
        <td>[ɫ]</td>
		<td></td>
		<td>algo</td>
		<td>a1 L g u2</td>
		<td>lateral alveolar sonora</td>
      </tr>
	  <tr>
        <td>lh</td>
        <td>[ʎ]</td>
		<td></td>
		<td>olhar</td>
		<td>u2 lh a1 r</td>
		<td>lateral palatal sonora</td>
      </tr>
	  <tr>
        <td>m</td>
        <td>[m]</td>
		<td></td>
		<td>milho</td>
		<td>m i1 lh u2</td>
		<td>nasal bilabial sonora</td>
      </tr>
	  <tr>
        <td>n</td>
        <td>[n]</td>
		<td></td>
		<td>nono</td>
		<td>n o1 n u2</td>
		<td>nasal alveolar sonora</td>
      </tr>
	  <tr>
        <td>nh</td>
        <td>[ɲ]</td>
		<td></td>
		<td>ninho</td>
		<td>n i1 nh u2</td>
		<td>nasal palatal sonora</td>
      </tr>
	  <tr>
        <td>p</td>
        <td>[p]</td>
		<td></td>
		<td>pato</td>
		<td>p a1 t u0</td>
		<td>oclusiva bilabial surda</td>
      </tr>
	  <tr>
        <td>q</td>
        <td>[ʔ]</td>
		<td></td>
		<td>oh-oh</td>
		<td>q o q o W</td>
		<td>oclusiva glotal</td>
      </tr>
	  <td>r</td>
        <td>[ɾ]</td>
		<td></td>
		<td>cheiro<br>fazer</td>
		<td>x e1 Y r u2<br>f a2 z e1 r</td>
		<td>tepe alveolar</td>
	  <tr>
	  <tr>
        <td>s</td>
        <td>[s]</td>
		<td></td>
		<td>santo<br>osso</td>
		<td>s A1 t u2<br>o1 s u2</td>
		<td>fricativa alveolar surda</td>
      </tr>
	  <tr>
        <td>t</td>
        <td>[t]</td>
		<td></td>
		<td>tatu</td>
		<td>t a2 t u1</td>
		<td>oclusiva alveolar surda</td>
      </tr>
	  <tr>
        <td>tch</td>
        <td>[tʃ]</td>
		<td></td>
		<td>tchau</td>
		<td>tch a1 W</td>
		<td>africada pós-alveolar surda</td>
      </tr>
	  <tr>
        <td>v</td>
        <td>[v]</td>
		<td></td>
		<td>valor</td>
		<td>v a2 l o1 h</td>
		<td>fricativa labiodental sonora</td>
      </tr>
	  <tr>
        <td>x</td>
        <td>[ʃ]</td>
		<td></td>
		<td>acho<br>xampu<br>vez</td>
		<td>a1 x u2<br>x A2 p u1<br>v e1 x</td>
		<td>fricativa pós-alveolar surda</td>
      </tr>
	  <tr>
        <td>z</td>
        <td>[z]</td>
		<td></td>
		<td>zebra<br>asilo</td>
		<td>z ee1 b r a2<br>a2 z i1 l u2</td>
		<td>fricativa alveolar sonora</td>
      </tr>
    </table>
    <h4>Ditongos</h4>
    <table border="1" width="100%">
      <tr>
        <th>Catipa</th>
        <th>Descrição</th>
      </tr>
      <tr>
        <td>Y</td>
        <td>ditongo decrescente não-arredondado</td>
      </tr>
      <tr>
        <td>W</td>
        <td>ditongo decrescente arredondado</td>
      </tr>
      <tr>
        <td>y</td>
        <td>ditongo crescente não-arredondado</td>
      </tr>
	  <tr>
        <td>w</td>
        <td>ditongo crescente arredondado</td>
      </tr>
    </table>
