<h2>Encontrou um erro?</h2>
<table border="1" width="100%">
      <tr>
	      <th colspan="3">O G2P do Catipa está em constante desenvolvimento</th>
      </tr>
	  <tr>
	      <td colspan="3">Portanto, se você encontrar:</td>
	  </tr>
	  <tr>
	     <td>pronúncia inesperada</td>
		 <td>conversão incorreta</td>
		 <td>comportamento inconsistente</td>
	  </tr>
	  <tr>
	     <th colspan="3">Por favor, registre um problema (issue) no GitHub:</th>
	  </tr>
	  <tr>
	     <td colspan="3"><a href="https://github.com/CatMoun/catipa/issues" target="_blank">https://github.com/CatMoun/catipa/issues</a>
	  </tr>
	  <tr>
	     <td colspan="3">Inclua, se possível:</td>
	  </tr>
	  <tr>
	     <td>a palavra testada</td>
		 <td>o resultado obtido</td>
		 <td>o resultado esperado</td>
	  </tr>
	  <tr>
	     <td colspan="3">Isso ajuda a melhorar o Catipa para todos.</td>
	  </tr>
</table>
